
<p>
<strong>Name:</strong>
<%= @pet.name %>
</p>

<p>
<strong>Espece:</strong>
<%= @pet.espece %>
</p>

<p>
<strong>Sexe:</strong>
<%= @pet.sexe %>
</p>

<p>
<strong>Age:</strong>
<%= @pet.age %>
</p>

<p>
<strong>Description:</strong>
<%= @pet.desc %>
</p>

<%= link_to 'Back', pets_path %>